# How to include this config from ~/.gitconfig
# [include]
#     path = ~/settings/.gitconfig

[alias]
    hs = log --abbrev=7 --pretty='%C(yellow)%h %C(cyan)%cs %C(blue)%an%C(auto)%d %C(reset)%s' --graph
[rerere]
    enabled = false
